<style>
    h2 {
    font-size: 18px;
    line-height: 35px;
    }
    .mobile-apps {
        background: #000;
        display: flex;
        align-items: center;
        position: relative;
        top: 1px;
    }

    .mobile-apps .container {
        margin: 2.5rem auto;
        display: flex;
        align-items: center;
    }

    .mobile-apps .container .tag-lines h2.h2-strong {
        letter-spacing: .1rem;
        margin-bottom: 0;
        -webkit-font-smoothing: antialiased;
        font-size: 21px;
        line-height: 35px;
        font-weight: bold;
    }

    .mobile-apps .container .tag-lines {
        text-align: center;
        color: white;
        display: inline-block;
        margin-left: 4rem;
    }

    .mobile-apps .container .tag-lines .mb-4 {
        margin-bottom: 4rem;
    }

    .mobile-apps .container .tag-lines h2 {
        font-weight: normal;
    }
</style>

<div class="mobile-apps">
    <div class="container">
        <img class="app-image" src="https://www.discogs.com/images/app/phones.png" alt="Phone with the Discogs app">
        <div class="tag-lines">
            <h2 class="h2-strong">It's everywhere!</h2>
            <h2>The official Spinhub App.</h2>
            <h2 class="mb-4">Download now for free.</h2>
            <a class="app-store-badge" data-analytics-label="ios"
                href="">
                <img width="auto" height="54" alt="Download now from the App Store"
                    src="https://www.discogs.com/images/app/app-store-badge.svg">
            </a>
            <a class="app-store-badge" data-analytics-label="android"
                href="">
                <img width="auto" height="54" alt="Download now from Google Play"
                    src="https://www.discogs.com/images/app/google-play-badge.png">
            </a>
        </div>
    </div>
</div>