  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a class="navbar-brand" href="/">
        <img src="/favs/apple-touch-icon.png" alt="logo" width="20" height="20" class="d-inline-block align-text-top">
        <strong>SPINHUB</strong></a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/explore" class="nav-link px-2 link-dark">Explore</a></li>
        <li><a href="/pricing" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="/faqs" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <form action="search" method="POST" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchField">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>


      <div class="col-md-4 text-end">
        <%if (user) { %>
          <a href="/dashboard"><button type="button" class="btn btn-secondary">Dashboard</button></a>
          <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
        <% }
        else { %>
            <a href="/signin"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            <a href="/signup"><button type="button" class="btn btn-primary">Sign-up</button></a>
        <%}%>
      </div>

    </header>
  </div>