<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <nav class="navbar bg-light">
            <div class="container-fluid">
              <form action="search" method="POST" class="d-flex" role="search">
                <input class="form-control me-4" list="datalistOptions" type="search" name="searchField" placeholder="Search  artist or title" aria-label="Search">
                <datalist id="datalistOptions">
                    <option value="Delusions">
                    <option value="666 Ways to Love">
                    <option value="The End Is The Beginning">
                    <option value="George Thorogood">
                    <option value="Roy Orbison">
                  </datalist>
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
        </nav>
    </div>
  </nav>



