<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">

  <%- include('partials/head') %>

</head>
<style>
  #idheader {
    padding: 1rem 2rem;
    text-align: center;
    font: 1em monospace;
  }

  section {
    padding: 1em;
  }

  main {
    padding: 2em;
  }
</style>

<body>


  <%- include('partials/header-alt') %>
    <div id="idheader">
      <h2>Sobirjon Ergashev</h2>

      <hr>
      <div class="text-center">
        <p class="text-primary font-monospace">BSc Computing and Information Technology</p>
        <p class="text font-monospace">Queen's University Belfast</p>
        <p class="text font-monospace">Student ID: 40353633</p>
        <p class="text font-monospace">Email: sobirjoon@outlook.com</p>
        <p class="text font-monospace">This project is developed as a part of Server-Side Web Development module.
        </p>
      </div>
    </div>

</body>

</html>