<!doctype html>
<html lang="en">
  <%- include('partials/head') %>
  <head>
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">

<main class="form-signin w-100 m-auto">
  <form  action="/signin" method="POST">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">

    <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>
    <p class="font-monospace"><%= message %></p>

    <div class="form-floating">
      <input type="username" class="form-control" id="floatingInput" placeholder="sobirjon001" name="usernameField">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="passwordField">
      <label for="floatingPassword">Password</label>
    </div>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="status">
      <option selected>Open this select</option>
      <option value="admin">Admin</option>
    </select>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <div class="mt-3">
      <p class="text-center">New to Spinhub? <a href="/signup" class="link-primary">Create a new account</a></p>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy;2022 Spinhub Inc,  All Rights Reserved</p>
  </form>

</main>
  </body>
</html>
